/* WebAppSkins.com */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden, .hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

.content-box-header h2, .content-box-header h3, .content-box-header h4 {
	font-family:"Segoe UI",Frutiger,Tahoma,Helvetica,"Helvetica Neue",Arial,sans-serif;
	font-weight:bold;
	padding:0 0 10px;
	margin:0 0 10px;
	border-bottom:#ccc dotted 1px;
}

.content-box h2.ui-box-header, .content-box h3.ui-box-header, .content-box h4.ui-box-header {
	padding:7px 4px 6px;
}

.content-box h2 {
	font-size:1.8em;
}

.content-box h3 {
	font-size:1.5em;
}

.content-box h4 {
	font-size:1.2em;
}

.content-box-header {
	padding:0!important;
}

.content-box-header2 {
	padding:10px!important;
}

	/* Interaction states */

.ui-state-default, .ui-widget-content .ui-state-default, .pagination a {
	font-weight:bold;
	outline:none;
}

.ui-widget {
	margin:0 0 1em;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .pagination a:hover {
	font-weight:bold;
	outline:none;
}

.ui-box-header {
	padding:7px 4px 6px;
}

.ui-box-header .ui-icon {
	margin-top:-3px;
}

.ui-state-active, .ui-widget-content .ui-state-active {
	font-weight:bold;
	outline:none;
}

/* Component containers */

.ui-widget-header {
	font-weight: bold;
	font-size:0.9em;
	margin:0.4em;
	padding:7px;
	position:relative;
}

	/* Top Buttons */

#top-buttons {
	float:right;
	padding:9px 15px 0 0;
}

	/* Tooltip */

#tooltip {
	position:absolute;
	z-index:30000;
	padding:3px;
	font-size:0.9em;
}

#tooltip div {
	margin:0;
	padding:5px;
	font-size:0.9em;
}

#tooltip h3 {
	font-weight:bold;
	padding:5px;
	margin:0;
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

	/* Buttons & Icons */

ul#icons {
	margin:0;
	padding:0;
}

ul#icons li, .pagination li, a.icon-only {
	margin:2px;
	position:relative;
	padding:4px 0;
	cursor:pointer;
	float:left;
	list-style:none;
}

a.icon-only {
	padding:5px!important;
	width:16px;
}

#sidebar #open_sidebar {
	position:absolute;
	top:10px;
	display:none;
	right:10px;
}

#sidebar-left #sidebar #open_sidebar {
	position:absolute;
	top:10px;
	display:none;
	right:auto;
	left:23px;
}

.wrapper-full {
	padding-right:10px!important;
}

.fixed {
	margin:0 auto!important;
}

.layout100 .fixed {
	width:auto;
}

.layout90 .fixed {
	width:90%;
}

.layout75 .fixed {
	width:75%;
}

.layout980 .fixed {
	width:980px;
}

.layout1280 .fixed {
	width:1280px;
}

.layout1400 .fixed {
	width:1400px;
}

.layout1600 .fixed {
	width:1600px;
}

#page-header .fixed {
	margin:0 auto!important;
}

#page-header .fixed #top {
	margin:0 20px;
}

#page-header .fixed #navigation {
	margin-left:20px;
}

#page-header .fixed #search-bar {
	margin-right:20px;
}

.fixed .page-content-wrapper {
	margin:0!important;
}

a.icon-only span.ui-icon {
	position:relative!important;
	margin:0!important;
	top:0!important;
	left:0!important;
}

ul#icons span.ui-icon {
	float:left;
	margin:0 4px;
}

/* positioning */
.ui-icon-carat-1-n, .headerSortUp .ui-icon-carat-2-n-s { background-position:0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e, #navigation ul .ui-icon-carat-1-s { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }

.ui-icon-carat-1-s, .headerSortDown .ui-icon-carat-2-n-s { background-position:-64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
#sidebar-left #open_sidebar .ui-icon-circle-arrow-w, .ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
#sidebar-left #close_sidebar .ui-icon-circle-arrow-e, .ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */

.ui-corner-tl {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
}

.ui-corner-tr {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
}

.ui-corner-bl {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
}

.ui-corner-br {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
}

.ui-corner-top {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
}

.ui-corner-bottom {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
}

.ui-corner-right {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
}

.ui-corner-left {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
}

.ui-corner-all, .pagination li a, .pagination li, #tooltip, ul#dashboard-buttons li a, .fixed #sidebar, #dashboard-buttons ul li, #dashboard-buttons ul li a, #dashboard-buttons, .content-box {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

	/* No rounded corners */
.no-rounded .ui-corner-all, .no-rounded .pagination li a, .no-rounded .pagination li, .no-rounded #tooltip, .no-rounded ul#dashboard-buttons li a, .no-rounded .fixed #sidebar, .no-rounded #dashboard-buttons ul li, .no-rounded #dashboard-buttons ul li a, .no-rounded #page-content-wrapper, .no-rounded #sidebar, .no-rounded #navigation ul {
	-moz-border-radius:0!important;
	-webkit-border-radius:0!important;
}

/* Live Search Results */

.search-results h2 {
	font-size:1.3em;
	padding:3px 0 5px;
	font-weight:bold;
}

.search-results ul li {
	padding:8px 0;
	border-bottom:#ddd dotted 1px;
}

.search-results ul li a {
	font-weight:bold;
	display:block;
	font-size:1.1em;
	line-height:1.2em;
}

.search-results ul li a span {
	display:block;
	font-weight:normal;
	font-size:0.9em;
}

.search-results ul li a:hover {
	color:#000;
}

.search-results ul li a:hover span {
	color:#333;
}

/* Progress Bar */

.progress_animated {
	border-color:#717171!important;
}

.progress_animated .ui-progressbar-value {
	background:url('../../images/progress_animated.gif');
	margin:0;
	height:22px;
	padding:0;
	border:0;
}

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Pagination */

.pagination li a {
	padding:4px 6px;
	display:block;
}

.pagination .previous-off, .pagination .next-off, .pagination .active {
	padding:8px 4px;
}

/* Columns */

.three-column {
	clear:both;
	float:left;
	overflow:hidden;
	position:relative;
	width:100%;
}

.three-column .three-col-mid {
	right:75%;
}

.three-column .three-col-mid2 {
	right:76%;
}

.three-col-right, .three-col-mid, .three-col-left {
	float:left;
	position:relative;
	width:100%;
}

.three-column .three-col-left {
	right:50%;
}

.three-column .col1 {
	left:98%;
	width:54%;
}

.three-column .col2 {
	left:21%;
	width:22%;
}

.three-column .col3 {
	left:77%;
	width:22%;
}

	/* Three Column same widths */

.same-width-col .col1 {
	left:109%;
	width:32%;
}

.same-width-col .col2 {
	left:43%;
	width:33%;
	
}

.same-width-col .col3 {
	left:77%;
	width:33%;
}

	/* Three Columns, two big and one small */

.two-big-col .col1 {
	left:97%;
	width:39%;
}

.two-big-col .col2 {
	left:37%;
	width:20%;
}

.two-big-col .col3 {
	left:78%;
	width:39%;
}

.col1, .col2, .col3 {
	float:left;
	padding:0 0 1em;
	position:relative;
	min-height:120px;
}

.column-right {
	float:right!important;
}


.two-column .column, .two-column .column-content-box  {
	width:49%;
	float:left;
}

.two-column .column-fixed {
	width:50%;
	float:left;
}

.content-box-col .three-col-mid {
	right:74%!important;
}

.content-box-col .col3 {
	left:77%;
	width:32%;
}

.content-box-col .col2 {
	left:43%;
	width:32%;
}

.content-box-col .col1 {
	left:108%;
	width:32%;
}

/* Portlets */

.portlet {
	margin:0 0 1em;
}

.column .portlet {
	margin:0 0 1em;
}

.portlet-content {
	margin:0;
	padding:7px;
}

.portlet-header .ui-icon { 
	position:absolute;
	top:50%;
	margin-top:-8px;
	right:5px;
	cursor:pointer;
}

.ui-sortable-placeholder {
	background:#ffffcc;
	padding:0;
	visibility:visible!important;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}

	/* NAVIGATION MENU */

#navigation {
	height:39px;
	line-height:39px;
}

#navigation, #navigation li {
	float:left;
	border-right:#F1DFDF solid 1px;
	border-left:#666 solid 0px;
	
}

#navigation li {
	position:relative;
	height:39px;
	border-right:#666 solid 0px;
	border-left:#F1DFDF solid 1px;
	
	position:relative;
}

#navigation li a {
	display:block;
	height:39px;
	line-height:39px;
	padding:0 8px;
	float:left;
}

#navigation li a.sf-with-ul {
	padding:0 4px 0 8px;
}

#navigation li ul {
	left:-1px;
	top:39px;
	padding:5px;
	position:absolute;
	width:185px;
	z-index:999;
	-moz-border-radius-bottomleft:13px;
	-webkit-border-radius-bottomleft:13px;
	-moz-border-radius-bottomright:13px;
	-webkit-border-radius-bottomright:13px;
	box-shadow:0 0 10px #000;
	-o-box-shadow:0 0 10px #000;
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}

#page-header, #page-header #page-header-wrapper, #page-header #page-header-wrapper #navigation {
	position:relative;
	z-index:9999;
}

#navigation li ul li {
	float:none;
	position:relative;
	z-index:999;
	height:30px;
	line-height:30px;
}

#navigation li ul li a {
	height:30px;
	line-height:30px;
}

#navigation li ul li a:hover {
	height:30px;
	line-height:30px;
	color:#ededed
}

#navigation li ul li ul {
	left:190px;
	top:0;
	-moz-border-radius-bottomleft:13px;
	-webkit-border-radius-bottomleft:13px;
	-moz-border-radius-topright:13px;
	-webkit-border-radius-topright:13px;
}

#navigation .ui-icon {
	position:absolute;
	top:50%;
	right:3px;
	margin-top:-8px;
}

#navigation ul li.sfHover {
	*margin-bottom:-3px;
}

#navigation li a {
	color:#805D5D;
	/*font-weight:bold;
	text-shadow:#2f2f2f 1px 1px 0;*/
	font-size:15px;
}



#navigation li.sfHover, #navigation li.sfHover2 {
	background:#4f4f4f;
}


#navigation li.sfHover a, #navigation li.sfHover2 a {
	color:#ededed;
	font-size:30px;
}

#navigation li ul {
	background:#fff;
	display:none;
	border:#5d5d5d solid 1px;
}

#navigation li ul li {
	background:#F0F0F0;
	border-bottom:1px dotted #ccc;
	border-left:0;
	border-right:0;
}

#navigation li ul li a {
	color:#5a5a5a!important;
	text-shadow:#fff 1px 1px 0;
	float:none;
}

#navigation li ul li a:hover {
	background:#F7F7F7;
	color:#333;
}

#navigation li ul li.sfHover, #navigation li ul li.sfHover2 {
	background:#F7F7F7;
}

#navigation li ul li.sfHover {
	
}

#navigation li ul li.sfHover a {
	color:#333;
}

	/* Header Search */

#search-bar {
	float:right;
	padding:8px 0 0;
}

#search-bar input {
	height:20px;
	width:180px;
	padding:5px 10px 0 23px;
	border:0;
	font-size:0.96em;
	color:#9b9b9b;
}

#search-bar input:focus {
	color:#b8b8b8;
}

	/* PAGE CONTENT */

#page_wrapper {
	width:100%;
	height:100%;
}

#page_wrapper #page-content {
	float:left;
	width:100%;
	position:relative;
	z-index:55;
}

#page_wrapper #page-content #page-content-wrapper {
	padding:10px 202px 10px 10px;
	margin:0 20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	box-shadow:0 0 20px #000;
	-o-box-shadow:0 0 20px #000;
	-moz-box-shadow:0 0 20px #000;
	-webkit-box-shadow:0 0 20px #000;
}

#page_wrapper #page-content .no-bg-image {
	background-image:none!important;
}

	/* Theme Switcher Overlay */

#theme_switcher {
	position:absolute;
	left:0;
	top:0;
	display:none;
	width:100%;
	height:100%;
	background:#333 url('../../images/loading.gif') 50% 50% no-repeat;
	z-index:99999;
}

	/* Dashboard buttons */

 #dashboard-buttons, .content-box {
 	margin:0 0 20px;
 	padding:10px;
 	background:#fff;
 	border:#ddd solid 1px;
	font-size:18px;
 }

.content-box .content-box-wrapper {
	padding:10px;
}

.content-box .inner-page-title {
	margin-top:0;
}

	/* SIDEBAR */
	
#page_wrapper #sidebar {
	position:absolute;
	top:0;
	right:0;
	width:200px;
	z-index:9999;
	-moz-border-radius-topright:10px;
	-webkit-border-radius-topright:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-radius-bottomright:10px;
}

#sidebar-left #page_wrapper #sidebar {
	right:auto;
	left:0;
}

#sidebar-left #page_wrapper #page-content #page-content-wrapper {
	padding:10px 10px 10px 202px;
}

#sidebar-left #page_wrapper #page-content .wrapper-full {
	padding:10px 10px 10px 50px!important;
}

#page_wrapper #sidebar .sidebar-content {
	padding:15px 9px 15px 21px;
}

#page_wrapper #sidebar .side-menu li {
	border-bottom:#ccc dotted 1px;
}

#page_wrapper #sidebar .side-menu li a {
	padding:5px;
	display:block;
}

#page_wrapper #sidebar .side-menu li a:hover, #page_wrapper #sidebar .side-menu li a.active {
	background:#f0f0f0;
	color:#000;
}

#page_wrapper #sidebar .side-menu li a.active {
	font-weight:bold;
}

	/* SIDEBAR > Box */
	
#page_wrapper #sidebar .box {
	background:#fbfcfd;
	border:#ececec solid 1px;
	margin:0 0 8px 0;
}

#page_wrapper #sidebar .box h3 {
	background:#f0f0f0;
	color:#484848;
	padding:8px;
	font-weight:bold;
	border-bottom:#c7c7c7 solid 1px;
}

#page_wrapper #sidebar .box .content {
	padding:8px
}

	/* SIDEBAR > Box with Links */

#page_wrapper #sidebar .with-links {
	
}

#page_wrapper #sidebar .with-links a {
	display:block;
	padding:8px 8px 8px 20px;
	border-bottom:#dcdcdd dotted 1px;
}

#page_wrapper #sidebar .with-links a:hover {
	background-color:#fff;
	color:#414344;
}

	/* Live search results */

#live-search-results, .ui-dialog {
	-webkit-box-shadow: 0 3px 9px #333;
	-moz-box-shadow: 0 3px 9px #333;
	box-shadow: 0 3px 9px #333;
}

#live-search-results {
	padding:10px;
	height:300px;
	overflow:auto;
	position:absolute;
	right:0;
	top:40px;
	z-index:99;
	-moz-border-radius-bottomleft:8px;
	-webkit-border-radius-bottomleft:8px;
	border-radius-bottomleft:8px;
	
	-moz-border-radius-bottomright:8px;
	-webkit-border-radius-bottomright:8px;
	border-radius-bottomright:8px;

}

	/* Footer */

#footer {
	text-align:center;
	padding:4px 0 20px;
}

#copyright {
	color:#0A0909;
	text-align:center;
	padding:0 0 20px;
}

#copyright a {
	color:#383535;
	font-weight:bold;
}

#copyright a:hover {
	text-decoration:underline;
}

#footer a {
	font-weight:bold;
	padding:0 5px;
}

#footer a:hover {
	text-decoration:underline;
}

	/* Header */

#page_wrapper #page-header #page-header-wrapper {
	margin:0 20px;
	min-height:110px;
}

#page_wrapper #page-header #page-header-wrapper #top {
	height:52px;
}

#page_wrapper #page-header #page-header-wrapper #top a.logo {
	display:block;
	height:52px;
	width:197px;
	text-indent:-9999em;
	float:left;
}

#top .welcome {
	float:right;
	padding:10px 0 0;
}

#top .welcome a.btn {
	font-weight:normal;
	padding:3px 5px 4px 18px;
}

#top .welcome a.btn {
	margin-right:0;
	margin-left:8px;
}

#top .welcome a.btn span.ui-icon {
	top:1px;
}

#top .welcome span.note {
	float:left;
	height:29px;
	line-height:29px;
	padding:0 10px 0 0;
}

#top .welcome span.note a {
	font-weight:bold;
}

#top .welcome span.note a:hover {
	text-decoration:underline;
}

	/* Simple drop down menu */

#top-buttons .drop-down {
	float:left;
}

.drop-down li {
	position:relative;
}

.drop-down-container {
	display:none;
	width:180px;
	position:absolute;
	top:27px;
	left:3px;
	padding:5px;
	z-index:9999;
}

.drop-down-container a {
	margin-bottom:2px!important;
}

	/* Buttons */

a.btn span.ui-icon {
	left:0.2em;
	margin:0 5px 0 0;
	position:absolute;
	top:2px;
	*top:4px;
}

a.btn {
	display:block;
	float:left;
	margin:5px;
	padding:0.4em 1em 0.4em 20px;
	position:relative;
}

a.btn_no_text {
	padding:10px;
}

.ui-button {
	cursor:pointer;
	margin:0;
	padding:0.5em 1em 0.5em;
	position:relative;
	text-align:center;
	text-decoration:none;
}

	/* Page Titles */

.page-title {
	font-family:"Segoe UI",Frutiger,Tahoma,Helvetica,"Helvetica Neue",Arial,sans-serif;
	font-weight:bold;
	padding:0 0 15px;
	line-height:2.2em;
	margin:0 20px;
	text-shadow:#000 1px 1px 0;
	float:left;
}

.page-title h1 {
	font-size:2.3em;
}

.inner-page-title {
	border-bottom:#cdcdcd solid 1px;
	margin:0 0 15px;
	text-shadow:#fff 1px 1px 0;
}

i.note {
	color:#8F8F8F;
	display:block;
	font-weight:bold;
	padding:5px 0 15px 25px;
}

.inner-page-title h2, .inner-page-title h3 {
	font-weight:bold;
	font-family:"Segoe UI",Frutiger,Tahoma,Helvetica,"Helvetica Neue",Arial,sans-serif;
	color:#000;
	font-size:2em;
	letter-spacing:-1px;
}

.inner-page-title h3 {
	font-size:1.8em;
	padding:0 0 10px;
}

.inner-page-title span {
	font-style:italic;
	color:#777;
	font-size:1.3em;
	padding:5px 0 15px;
	display:block;
	border-bottom:#fff solid 1px;
}