html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

html, body {
	height:100%;
	width:100%;
}

body {
	line-height: 1;
	color: black;
	background: white;
	font-family:Arial,Verdana,Sans-Serif;
	font-size:0.7em;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table tr td {
	border: solid 1px;
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;

}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.float-none {
	float:none!important;
}

.full-link {
	float:none!important;
	margin:0 0 8px!important;
}

.width50 {
	width:49%;
}

.clear, .clearfix {
	clear:both;
}

#page_wrapper {
	position:relative;
}

p {
	line-height:1.6em;
	padding:5px 0 10px;
	font-size:1.1em;
}